@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

a {
    color: #c7c7c7;
}

p {
    color: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-right span {
    color: #c67816;
    display: block;
    position: relative;
    line-height: 20px;
    padding: 15px 15px;
    border: 2px dashed #2ad09e;
    border-radius: 16px;

}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #1b8161;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #26bb8e;
}

.navbar-inverse .navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}

.navbar-header i {
    color: #000000;
}

.content {
    background: -webkit-linear-gradient(#648880, #293f50);
    background: -moz-linear-gradient(#648880, #293f50);
    background: linear-gradient(#648880, #293f50);
    padding-top: 100px;
    padding-bottom: 20px;
    flex: 1 0 auto;
    text-align: left;
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.new-post {
    padding: 5px 16px;
    background-color: #23a179;
    border-color: #1b8161;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 12px;

}

.new-post a {
    color: white;
}

.content h1 {
    color: white;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 3px;
}

.content h2 {
    color: #ededed;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content h3 {
    color: #ededed;
}

.content span {
    color: white;
}

/*footer begin*/
.footer {
    background: #2d2d2d;
    flex: 0 0 auto;
    height: 80px;
    width: 100%;
}

.footer p {
    color: #bdbdbd;
    font-size: 15px;
}

/*footer end*/

.table-map {
    text-align: center;
    padding-top: 100px;
}

.table-map i {
    color: #cfe114;
}

.table-map p {
    color: white;
}

.table-map h4 {
    color: #cfe114;
}

.container i {
    display: inline-block;
    width: 15px;
    padding-right: 5px;
}
.ass {
    position: relative;
    padding-bottom: 150px;
}

#btn-comment {
    position: absolute;
    display: none;
}